<br />
<br />

<h2 class="headline">
  &nbsp; Admin
</h2>
<br />
<div class="container">
  <div class="row">
    <div class="col-md-4 mb-3">
      <div class="card">
        <img
          src="../../../../assets/images/house1.png"
          class="card-img-top"
          alt="property"
        />
        <div class="card-body">
          <h5 class="card-title">Details for Properties</h5>
          <p class="card-text">
            Admin can perform all CRUD operations on the property details
          </p>
          <div class="text-center">
            <a [routerLink]="['/admin-propertydetail']" class="btn btn-success"
              >Property Details</a
            >
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-4 mb-3">
      <div class="card">
        <img
          src="../../../../assets/images/usericon.png"
          alt="iOS Phones"
          height="280px"
        />
        <div class="card-body">
          <h5 class="card-title">Details about Users</h5>
          <p class="card-text">
            Admin can perform all CRUD operation on the User Details
          </p>
          <div class="text-center">
            <a [routerLink]="['/admin-userdetails']" class="btn btn-success"
              >User Details</a
            >
          </div>
        </div>
      </div>
    </div>
    <!-- <div class="col-md-4 mb-3">
      <div class="card">
        <img
          src="../../../../assets/images/house1.png"
          class="card-img-top"
          alt="property"
        />
        <div class="card-body">
          <h5 class="card-title">Properties by User</h5>
          <p class="card-text">
            Admin can perform all CRUD operations on the property details
          </p>
          <div class="text-center">
            <a [routerLink]="['/admin-propertybyuser']" class="btn btn-success"
              >Property Details</a
            >
          </div>
        </div>
      </div>
    </div> -->
  </div>
</div>
<br />
<br />
<br />
<br />
