/* .card-img-wrapper{
    overflow: hidden;
    position: relative;
}

.container {
    margin-top: 1rem;
    padding-top: 39px;
  }

.card:hover img{
    transform: scale(1.2,1.2);
    transition-duration: 500ms;
    transition-timing-function: ease-out;
    height: 250px;
    opacity: 0.5;
}

.card img{
    transform: scale(1,1);
    transition-duration: 500ms;
    transition-timing-function: ease-out;
    height: 250px;
}


.member-icon{
    position: absolute;
    bottom: -30%;
    right: 0;
    left: 0;
    margin-left: auto;
    margin-right: auto;
}

.card-img-wrapper:hover .member-icon{
    bottom: 0;

}

.animate{
    transition: all 0.3s ease-in-out;
}

.card-body h1 {
    font-family: fantasy;
    color: #0069d9;
  }

.font-highlight {
    font-style: italic;
    color: red;
}

.container-fluid{
    height: 75vh;
    margin: auto;
    border: 1px solid black;
    transition: .3s linear;
    margin-top: 30px;
    
    /* background-image: url('../../../../assets/images/house1.png'); 
    
} */

.card-img-wrapper{
    overflow: hidden;
    position: relative;
}

.container {
    margin-top: 1rem;
    padding-top: 39px;
  }

.card:hover img{
    transform: scale(1.2,1.2);
    transition-duration: 500ms;
    transition-timing-function: ease-out;
    height: 250px;
    opacity: 0.5;
}

.card img{
    transform: scale(1,1);
    transition-duration: 500ms;
    transition-timing-function: ease-out;
    height: 250px;
}

.member-icon{
    position: absolute;
    bottom: -30%;
    right: 0;
    left: 0;
    margin-left: auto;
    margin-right: auto;
}

.card-img-wrapper:hover .member-icon{
    bottom: 0;

}

.animate{
    transition: all 0.3s ease-in-out;
}

.card-body h1 {
    font-family: fantasy;
    color: #0069d9;
  }

.font-highlight {
    font-style: italic;
    color: red;
}

.container-fluid{
    margin: auto;
    border: 1px solid black;
    transition: .3s linear;
    margin-top: 30px;
    border-radius: 7px;
    /* background-image: url('../../../../assets/images/house1.png'); */
}

.carousel-inner > .item {
    height: 400px;
 }

   